.iconButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.iconWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}