:root {
  --skeleton-bg: #f0f0f5;
  --skeleton-shimmer: rgba(255, 255, 255, 0.8);
  --skeleton-duration: 2s;
}

html[data-theme="dark"] {
  --skeleton-bg: rgba(255, 255, 255, 0.05);
  --skeleton-shimmer: rgba(255, 255, 255, 0.08);
}

.skeleton {
  background: var(--skeleton-bg);
  position: relative;
  overflow: hidden;
  border-radius: 4px; /* Default */
  transform: translateZ(0); /* Force hardware acceleration */
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--skeleton-shimmer) 50%,
    transparent 100%
  );
  transform: translateX(-100%);
  animation: shimmer var(--skeleton-duration) infinite linear;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
