.logoutButton {
    padding: 0.4rem 0.6rem;
    font-size: 16px;
    height: clamp(1.6rem, 4vh, 2.7rem);
    gap: 0.3rem;
    line-height: 0;
    background-color: var(--btn-bg-color-4);
    border: 1px solid var(--btn-border-color-3);
    border-radius: 8px;
    color: var(--text-color-8);
    font-weight: 500;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-main);

    transition: transform 0.2s ease-out,
        box-shadow 0.2s ease,
        background-color 0.2s ease,
        border-color 0.2s ease;
    will-change: transform;
    overflow: hidden;
    position: relative;
}

.logoutButton:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.logoutButton:active {
    transform: scale(0.98);
    transition: transform 0.1s ease;
    box-shadow: none;
}

.icon {
    color: var(--text-color-0);
    display: flex;
    align-items: center;
    justify-content: center;
}